@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
    background: #19143b;
}

.keysyscontainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box {
    width: 460px;
    background: #100845;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    padding: 24px;
    margin: 8px 0;
}

.button {
    margin-left: 10px;
    width: 250px;
}

.title {
    font-size: 20px;
    font-weight: 500;
    display: block;
    margin-bottom: 8px;
    color: white;
}

.text {
    font-size: 14px;
    font-weight: 300;
    color: #bebec2;
    display: block;
    margin-bottom: 22px;
}

.key {
    position: relative;
    margin-bottom: 10px;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    width: 400px;
    border-radius: 5px;
}

.smool {
    font-size: 13px;
}

.bold {
    font-weight: 400;
    color: white;
}

.Copy {
    background-color: #6118ba;
}